<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{pageTitle}}</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	{{{body}}}
</body>
</html>